<h1>Edit Quiz</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for quizzes</p>
    <ul>
      <li>The shorter the better</li>
      <li>Make them memorable</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { quiz: @quiz } %>
  </div>
</div>
