<h1>About</h1>
<p>Who is this? is a flash card app dedicated to helping you remember people.</p>
<p>It works great for:</p>
<ul>
  <li>Company Departments</li>
  <li>Sports Teams</li>
  <li>New Students</li>
  <li>Inlaws (you'll really impress your new mom!)</li>
</ul>
