<h1>Edit Card</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for cards</p>
    <ul>
      <li>The shorter the better</li>
      <li>Make them memorable</li>
      <li>Complete Photo, Name, and Role fields</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { quiz: @card.quiz, card: @card } %>
  </div>
</div>
